/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

/* Browser Resets */

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
	outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* FlexSlider Necessary Styles
*********************************/

.flexslider {
	margin: 0;
	padding: 0;
}

.flexslider .slides > li {
	display: none;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
	width: 100%;
	
	display: block;
}

.flex-pauseplay span {
	text-transform: capitalize;
}

/* Clearfix for the .slides element */

.slides:after {
	height: 0;
	
	clear: both;
	content: ".";
	display: block;
	line-height: 0;
	visibility: hidden;
}

html[xmlns] .slides {
	display: block;
}

* html .slides {
	height: 1%;
	
}

/* No JavaScript Fallback */

/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
	display: block;
}

/* FlexSlider Default Theme
*********************************/

.flexslider {
	position: relative;
	
	background: #fff;
	border: 4px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	margin: 0 0 60px;
	zoom: 1;
}

.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.loading .flex-viewport {
	max-height: 300px;
}

.flexslider .slides {
	zoom: 1;
}

.carousel li {
	margin-right: 5px;
}

/* Direction Nav */

.flex-direction-nav {
	*height: 0;
}

.flex-direction-nav a {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	
	background: url(images/bg_direction_nav.png) no-repeat 0 0;
	cursor: pointer;
	display: block;
	margin: -20px 0 0;
	opacity: 0;
	text-indent: -9999px;
	z-index: 10;
}

.flex-direction-nav .flex-next {
	right: -36px;
	
	background-position: 100% 0;
}

.flex-direction-nav .flex-prev {
	left: -36px;
	
}

.flexslider:hover .flex-next {
	right: 5px;
	
	opacity: 0.8;
}

.flexslider:hover .flex-prev {
	left: 5px;
	
	opacity: 0.8;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
}

.flex-direction-nav .flex-disabled {
	cursor: default;
	filter: alpha(opacity=30);
	opacity: .3 !important;
}

/* Control Nav */

.flex-control-nav {
	position: absolute;
	bottom: -40px;
	width: 100%;
	
	text-align: center;
}

.flex-control-nav li {
	*display: inline;
	display: inline-block;
	margin: 0 6px;
	zoom: 1;
}

.flex-control-paging li a {
	width: 11px;
	height: 11px;
	
	background: #666;
	background: rgba(0,0,0,0.5);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	cursor: pointer;
	display: block;
	text-indent: -9999px;
}

.flex-control-paging li a:hover {
	background: #333;
	background: rgba(0,0,0,0.7);
}

.flex-control-paging li a.flex-active {
	background: #000;
	background: rgba(0,0,0,0.9);
	cursor: default;
}

.flex-control-thumbs {
	position: static;
	
	margin: 5px 0 0;
	overflow: hidden;
}

.flex-control-thumbs li {
	width: 25%;
	
	float: left;
	margin: 0;
}

.flex-control-thumbs img {
	width: 100%;
	
	cursor: pointer;
	display: block;
	opacity: .7;
}

.flex-control-thumbs img:hover {
	opacity: 1;
}

.flex-control-thumbs .flex-active {
	cursor: default;
	opacity: 1;
}

@media screen and (max-width: 860px) {
	
	.flex-direction-nav .flex-prev {
		left: 0;
		
		opacity: 1;
	}

	.flex-direction-nav .flex-next {
		right: 0;
		
		opacity: 1;
	}

}

